body{
	background-color: #FFFFFF;
}

#messageInput{
	left: 60%;
		position: fixed;
	bottom: 7%;
	width: 39%;
}

li{
	font-size: 130%;
	background-color: #FFFFFF	;
	width: 100%;
  overflow-wrap: break-word;
}

#sendMessage{
    position: fixed;
    right: 1%;
	bottom: 1%;

}

#halfScreen{
	width: 60%;
	height: 100%;
	background-color: #FFFFFF;
}

#otherHalfScreen{
	position: fixed;
	right: 0%;
	bottom: 0%;
	width: 40%;
	height: 100%;
	background-color: #F1F1F1;
}
h1{
	margin: 5px;
}

#hello{
}

#home{
}

#variableNavigation {
	width: 98%;
}

#variableNavigationButton {
	margin:5px;
    position: fixed;
    right: 1%;
}

#RefreshButton {
    margin: 5px;
}

.buttonsClass{
		border-radius: 5px;
    border: 2px solid #FF646E;
    background-color: #D54937;
    /*font-weight: bolder;*/
    font-size: 120%;
    color: #FFFFFF;
    padding: 5px;
}

.inputsClass{
	border-radius: 5px;
	background-color: white;
}

.inputsClass::placeholder {
}

iframe{
	width: 100%;
	height: 100%;
	margin: 0px;
	border: 0px;
	padding: 0px;
}
#survivdiv{
	position: absolute;
		width: 99%;
	top: 42px;
	bottom: 76px;
	margin: 0px;
	border: 0px;
	padding: 0px;
}